<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="images/logos/noisette.png" type="image/png">
    <title>Erreur 404</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body class="construct_page">
    <h1>Error 404</h1>
    <img src="images/ui/enConstruction.webp" alt="gif de construction">
    <a href="index.html">Accueil</a>

    <!-- jQuery -->
    <script src="js/vendors/jquery.min.js"></script>
    <!-- Core -->
    <script src="js/core/main.js"></script>
    <script src="js/core/navigation.js"></script>
</body>

</html>