<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Cokolada - Mousse au chocolat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
  <meta name="keywords"
    content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="freehtml5.co" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Marck+Script&display=swap"
    rel="stylesheet" />
  <link rel="icon" href="../../images/logos/noisette.png" type="image/png">

  <!-- Animate.css -->
  <link rel="stylesheet" href="../../css/animate.css" />
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="../../css/icomoon.css" />
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="../../css/bootstrap.css" />
  <!-- Flexslider  -->
  <link rel="stylesheet" href="../../css/flexslider.css" />

  <!-- Theme style  -->
  <link rel="stylesheet" href="../../css/style.css" />

  <!-- Modernizr JS -->

  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
      <script src="../../js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="fh5co-loader">
    <img src="../../images/ui/loader-chargement.gif" alt="loader chocolat" />
  </div>

  <div id="page">
    <nav class="fh5co-nav" role="navigation">

      <div class="top-menu">
        <div class="container">
          <div class="row logoContainer">
            <a href="../../index.html" class="logo">
              <img class="logo" src="../../images/logos/logo-cokolada-gold.png" alt="Tasty Logo">
            </a>
            <div class="col-xs-12 text-center menu-1 menu-wrap">
              <ul class="titre-chocolat">
                <li class="active"><a href="../../index.html">Home</a></li>
                <li class="has-dropdown">
                  <a href="#">Recettes</a>
                  <ul class="dropdown">
                    <li><a href="../omer/recette1.html" title="Cupavci">Recette Omer</a></li>
                    <li><a href="recette2.html">Recette Agim</a></li>
                    <li><a href="recette3.html">Recette Agim</a></li>
                    <li><a href="../massine/recette4.html">Recette Massine</a></li>
                    <li><a href="../soulaiman/recette5.html">Recette Soulaiman</a></li>
                    <li><a href="../omer/recette6.html">Recette Omer</a></li>
                    <li><a href="../soulaiman/recette7.html">Recette Soulaiman</a></li>
                    <li><a href="../massine/recette8.html">Recette Massine</a></li>
                    <li><a href="../../construct.html">Recette Vahag</a></li>
                    <li><a href="../../construct.html">Recette Vahag</a></li>
                  </ul>
                </li>
                <li><a href="../../about.html">About</a></li>
                <li><a href="../../contact.html">Contact</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </nav>

    <div class="mainRecette2">




      <!-- recette2 -->
      <div class="container py-5 mainRecette2__container mainRecette2__container--spacing">
        <h1 class="text-center mb-4 mainRecette2__title">Mousse au chocolat</h1>

        <div class="card shadow mx-auto mainRecette2__card">
          <div class="d-block text-center mainRecette2__card__image-wrapper">
            <img src="../../images/recipes/gateau-chocolat-fondant.jpg"
              class="card-img-top d-block mx-auto mainRecette2__card__main-image" alt="Mousse au chocolat">
          </div>

          <div class="card-body mainRecette2__card__body">
            <h4 class="text-center mainRecette2__card__ingredients-title mainRecette2__card__ingredients-title--styled">
              Ingrédients</h4>
            <ul
              class="list-group mb-4 mainRecette2__card__ingredients-list mainRecette2__card__ingredients-list--spacing">
              <li class="list-group-item mainRecette2__card__ingredients-list__item">200 g de chocolat noir</li>
              <li class="list-group-item mainRecette2__card__ingredients-list__item">4 œufs</li>
              <li class="list-group-item mainRecette2__card__ingredients-list__item">30 g de sucre</li>
              <li class="list-group-item mainRecette2__card__ingredients-list__item">1 pincée de sel</li>
            </ul>


            <h4 class="text-center mainRecette2__card__preparation-title mainRecette2__card__preparation-title--styled">
              Préparation</h4>


            <ol
              class="list-group list-group-numbered mb-4 mainRecette2__card__preparation-list mainRecette2__card__preparation-list--spacing">
              <li class="list-group-item mainRecette2__card__preparation-list__item">Fais fondre le chocolat au
                bain-marie.</li>
              <li class="list-group-item mainRecette2__card__preparation-list__item">Sépare les blancs des jaunes.</li>
              <li class="list-group-item mainRecette2__card__preparation-list__item">Ajoute les jaunes au chocolat
                tiède.</li>
              <li class="list-group-item mainRecette2__card__preparation-list__item">Monte les blancs en neige avec une
                pincée de sel.</li>
              <li class="list-group-item mainRecette2__card__preparation-list__item">Incorpore doucement les blancs au
                chocolat.</li>
              <li class="list-group-item mainRecette2__card__preparation-list__item">Laisse reposer 3 heures au
                réfrigérateur.</li>
              <img src="../../images/recipes/recette_steps.jpg" alt="image d'étape a suivre">
            </ol>

          </div>
          <h2 class="text-center mainRecette2__card__similary-title">Recette similaire</h2>

          <div class="text-center mainRecette2__card__preparation-image-wrapper">
            <img src="../../images/recipes/mousse-chocolat-fraises.jpg"
              class="card-img-top d-block mx-auto mainRecette2__card__preparation-image" alt="Mousse au chocolat">
            <div class="mainRecette2__card__similary-recipe">
              <h3>Mousse au chocolat Grand'ma</h3>
              <h4>Découvrez la recette de mamie devenu culte et viral pour tout le monde</h4>
              <p>Mousse au chocolat à base d’orange et d’agrumes, accompagnée de petits beurres pour le côté gourmand,
                et de fraises pour une touche healthy</p>
              <a href="#">Découvrez la recette</a>
            </div>
          </div>
        </div>

        <!-- ESPACE COMMENTAIRE -->
        <div class="d-flex justify-content-center mainRecette2__comments mainRecette2__comments--spacing">
          <div class="card shadow mainRecette2__comments__card mainRecette2__comments__card--styled">
            <div class="card-body mainRecette2__comments__card__body">
              <h3
                class="text-center mb-4 mainRecette2__comments__card__title mainRecette2__comments__card__title--gold">
                Laissez un commentaire</h3>
              <form class="mainRecette2__comments__card__form">

                <div class="mb-3 mainRecette2__comments__card__form__group">
                  <label class="form-label mainRecette2__comments__card__form__label">Nom</label>
                  <input type="text" class="form-control mainRecette2__comments__card__form__input"
                    placeholder="Votre nom">
                </div>

                <div class="mb-3 mainRecette2__comments__card__form__group">
                  <label class="form-label mainRecette2__comments__card__form__label">Sujet</label>
                  <input type="text" class="form-control mainRecette2__comments__card__form__input"
                    placeholder="Sujet du commentaire">
                </div>

                <div class="mb-3 mainRecette2__comments__card__form__group">
                  <label class="form-label mainRecette2__comments__card__form__label">Commentaire</label>
                  <textarea class="form-control mainRecette2__comments__card__form__textarea" rows="4"
                    placeholder="Votre message"></textarea>
                </div>

                <div
                  class="text-center mainRecette2__comments__card__form__submit-wrapper mainRecette2__comments__card__form__submit-wrapper--spacing">
                  <button type="submit"
                    class="btn btn-primary btn-lg mainRecette2__comments__card__form__submit">Envoyer</button>
                </div>

              </form>
            </div>
          </div>
        </div>


      </div>

      <!-- recette2 -->



    </div>

    <footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
      <img src="../../images/logos/logo-chocolat-deluxe.png" alt="Image de tablette de chocolat">
      <div class="container">
        <div class="row row-pb-md">
          <div class="col-md-4 fh5co-widget">
            <h4>Chocolada</h4>
            <p>Le chocolat artisanal sublime les sens. Chaque bouchée révèle un monde de saveurs. Créé avec passion, il
              incarne l’élégance, la douceur et l’authenticité.</p>
          </div>
          <div class="col-md-2 col-md-push-1 fh5co-widget">
            <h4>Liens</h4>
            <ul class="fh5co-footer-links">
              <li><a href="../../index.html">Home</a></li>
              <li><a href="../../about.html">About</a></li>
              <li><a href="../../about.html">Contact</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-md-push-1 fh5co-widget">
            <h4>Categories</h4>
            <ul class="fh5co-footer-links">
              <li><a href="../../construct.html">Chocolat blanc</a></li>
              <li><a href="../../construct.html">Chocolat noir</a></li>
              <li><a href="../../construct.html">Chocolat au lait</a></li>
              <li><a href="../../construct.html">Chocolat ruby</a></li>
              <li><a href="../../construct.html">Chocolat aromatisé</a></li>
            </ul>
          </div>

          <div class="col-md-4 col-md-push-1 fh5co-widget">
            <h4>Contact Information</h4>
            <ul class="fh5co-footer-links">
              <li>87-89 Avenue du Parc, <br> 1060 St-Gilles</li>
              <li><a href="tel://025382083">02/538 20 83</a></li>
              <li><a href="mailto:info@cf2m.com">info@cf2m.com</a></li>
              <li><a href="https://www.cf2m.be" target="_blank">www.cf2m.be</a></li>
            </ul>
          </div>

        </div>

        <div class="row copyright">
          <div class="col-md-12 text-center">

            <li class="fh5co-social-icons">
              © 2025 <a href="https://github.com/agim-coroli" target="_blank">Agim</a>, <a
                href="https://github.com/SoulaimanDev" target="_blank">Soulaiman</a>, <a
                href="https://github.com/OkiSenpai" target="_blank">Omer</a>, <a href="https://github.com/Massine2k1"
                target="_blank">Massine</a>. Tous droits réservés
            </li>
          </div>
        </div>

      </div>
    </footer>
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
  </div>

  <!-- jQuery -->
  <!-- Vendors -->
  <script src="../../js/vendors/jquery.min.js"></script>
  <script src="../../js/vendors/jquery.easing.1.3.js"></script>
  <script src="../../js/vendors/bootstrap.min.js"></script>
  <script src="../../js/vendors/jquery.waypoints.min.js"></script>

  <script src="../../js/vendors/jquery.flexslider-min.js"></script>
  <!-- Core -->
  <script src="../../js/core/main.js"></script>
  <script src="../../js/core/navigation.js"></script>
  <!-- Animations -->
  <script src="../../js/animations/header-animations.js"></script>
  <!-- Recipes -->
  <script src="../../js/recipes/recipe-steps.js"></script>
  <script src="../../js/recipes/recipe-checkbox.js"></script>


</body>

</html>